#intro {
    width:100vw;
    height: 100vh;
    background: #de6161;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #2657eb, #de6161);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #2657eb, #de6161); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.introContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  padding-left: 12%;
  padding-right: 12%;
  position: relative;
}

@media (min-width: 768px) {
  .introTextBox {
    width: 80vw;
    box-sizing: border-box;
    text-align: left;
  }
}


h1 {
    font-size: 5vw;
}

.introText {
  color: white;
}


h3 {
    font-size: 3vw;
    color: white;
}

h2 {
    font-size: 2vw;
    color:white;
}

@media (max-height: 400px) {
  .introTextBox {
    color: #fff;
    font-weight: 400;
    font-size: 1rem;
    text-align: left;
  }
}



#page-body {
    width: 80%;
    text-align: justify;
    margin: 0 auto;
    padding-top: 8vh;
}

.row {
    padding-top: 25%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.row-second {
    padding-top: 10%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}


p { 
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

.tabs {
    margin-top: 5%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.tab1 {
    width: 90%;
    background: #fff;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: normal;
    border: 1px solid #ccc;
    margin-bottom: 50px;
    transition: .5s;
    background-color: #ececec;
    align-self: center;
    
}

.tab-image {
    height: 50vh;
    border-radius: 80%;
    box-shadow: 5px 10px 18px #6d6b6b;
}

.company-title {
    width:100%;
    text-align: center;
}

.tab1:hover {
    transform: scale(1.1);
    
}



.fade-in {
    animation: fadeIn ease 8s;
    -webkit-animation: fadeIn ease 8s;
    -moz-animation: fadeIn ease 8s;
    -o-animation: fadeIn ease 8s;
    -ms-animation: fadeIn ease 8s;
  }
  @keyframes fadeIn {
    0% {
      opacity:0;
    }
    100% {
      opacity:1;
    }
  }
  
  @-moz-keyframes fadeIn {
    0% {
      opacity:0;
    }
    100% {
      opacity:1;
    }
  }
  
  @-webkit-keyframes fadeIn {
    0% {
      opacity:0;
    }
    100% {
      opacity:1;
    }
  }
  
  @-o-keyframes fadeIn {
    0% {
      opacity:0;
    }
    100% {
      opacity:1;
    }
  }
  
  @-ms-keyframes fadeIn {
    0% {
      opacity:0;
    }
    100% {
      opacity:1;
    }
}