#intro {
    width:100vw;
    height: 100vh;
    background: rgb(222,209,189);
background: linear-gradient(to right, rgba(222,209,189,1) 0%, rgba(250,246,242,1) 95%);
    /*
    background: #de6161;  
background: -webkit-linear-gradient(to right, #2657eb, #de6161);  
background: linear-gradient(to right, #2657eb, #de6161); 
*/
}

.introContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  padding-left: 12%;
  padding-right: 12%;
  position: relative;
}

@media (min-width: 768px) {
  .introTextBox {
    width: 80vw;
    box-sizing: border-box;
    text-align: center;
    color: #5d3b1a;
  }
  
  h1 {
    font-size: 5vw;
  }
  h2, h3 {
    font-size: 2vw;
  }
}
@media (max-width: 768px) {
  .introTextBox {
    position: absolute;
    width: 55vw;
    text-align: center;
    color: #5d3b1a;
  }
  h1 {
    font-size: 2rem;
  }
  h3, h2 {
    font-size: 1rem;
  }
}

#lastName {
  color: #ab8b79;
}


@media (max-height: 400px) {
  .introTextBox {
    font-weight: 400;
    font-size: 1rem;
    text-align: center;
  }
}

#text {
	display: inline-block;
	color: #ab8b79;
	letter-spacing: 2px;
}

#cursor {
	display: inline-block;
	vertical-align: middle;
	width: 3px;
	height: 50px;
	background-color: #ab8b79;
	animation: blink .75s step-end infinite;
}

@keyframes blink {
	from, to { 
		background-color: transparent 
	}
	50% { 
		background-color: #ab8b79; 
	}
}



#page-body {
    width: 80%;
    text-align: justify;
    margin: 0 auto;
    padding-top: 8vh;
}

.row {
    padding-top: 25%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

p { 
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

.tabs {
    margin-top: 5%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.tab1 {
    width: 90%;
    background: #fff;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: normal;
    border: 1px solid #ccc;
    margin-bottom: 50px;
    transition: .5s;
    background-color: #ececec;
    align-self: center;
    
}

.tab-image {
    height: 50vh;
    border-radius: 80%;
    box-shadow: 5px 10px 18px #6d6b6b;
}

.company-title {
    width:100%;
    text-align: center;
}

.tab1:hover {
    transform: scale(1.1);
    
}



.fade-in {
    animation: fadeIn ease 8s;
    -webkit-animation: fadeIn ease 8s;
    -moz-animation: fadeIn ease 8s;
    -o-animation: fadeIn ease 8s;
    -ms-animation: fadeIn ease 8s;
  }
  @keyframes fadeIn {
    0% {
      opacity:0;
    }
    100% {
      opacity:1;
    }
  }
  
  @-moz-keyframes fadeIn {
    0% {
      opacity:0;
    }
    100% {
      opacity:1;
    }
  }
  
  @-webkit-keyframes fadeIn {
    0% {
      opacity:0;
    }
    100% {
      opacity:1;
    }
  }
  
  @-o-keyframes fadeIn {
    0% {
      opacity:0;
    }
    100% {
      opacity:1;
    }
  }
  
  @-ms-keyframes fadeIn {
    0% {
      opacity:0;
    }
    100% {
      opacity:1;
    }
}

