<nav id="navbar" class="navbar navbar-expand-md fixed-top" >

      <button class="navbar-toggler ml-auto" data-toggle="collapse" data-target="#collapse_target">
        <span class="toggler-icon" role="button" ><fa-icon [icon]="faBars"></fa-icon></span>
      </button>
      
      <div class="collapse navbar-collapse" id="collapse_target">
        <a href="#intro" class="navbar-brand nav-title" id="caesarFeng">Caesar Feng</a>
        <ul  class="nav navbar-nav ml-auto">
            <a class="nav-link nav-link-ltr" href="#intro" id="Home"> Home </a>
            <a class="nav-link nav-link-ltr" href="#about" id="About"> About </a>
            <a class="nav-link nav-link-ltr" href="#experience" id="Experience"> Experience </a>
            <a class="nav-link nav-link-ltr" href="#contact" id="Contact"> Contact </a>
        </ul>  
      </div>
    
</nav>
