<nav class="navbar navbar-expand-md fixed-top" >

      <button class="navbar-toggler" data-toggle="collapse" data-target="#collapse_target">
        <span class="navbar-toggler-icon"></span>
      </button>
      
      <div class="collapse navbar-collapse" id="collapse_target">
        <a href="#intro" class="navbar-brand nav-title">Caesar Feng</a>
        <ul class="nav navbar-nav ml-auto">
            <a class="nav-link nav-link-ltr" href="#intro" id="home"> Home </a>
            <a class="nav-link nav-link-ltr" href="#about"> About </a>
            <a class="nav-link nav-link-ltr" href="#experience"> Experience </a>
            <a class="nav-link nav-link-ltr" href="#contact"> Contact </a>
        </ul>  
      </div>
    
</nav>
