html {
    scroll-behavior: smooth;
}
div {
    font-family: 'Source Code Pro', monospace;
}


nav {
    overflow: hidden;
    box-shadow: 5px 10px 18px #888888;
}
.nav-list {
    overflow: hidden;
    background-color: black;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 999;
}

.nav-list a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.nav-list .icon {
   display: none;
}

#home {
    font-weight: 1000;
}

.nav-list a:hover {
    background-color: #41B285;
}

@media screen and (max-width: 1000px) {
    .nav-list a:not(:first-child) {
      display: none;
    }
    .nav-list a.icon {
      float: right;
      display: block;
    }
  }

  @media screen and (max-width: 1000px) {
    .nav-list.responsive {position: relative;}
    .nav-list.responsive a.icon {
      position: absolute;
      right: 0;
      top: 0;
    }
    .nav-list.responsive a {
      float: none;
      display: block;
      text-align: left;
    }
  }